{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/exec"
  ],
  "prepare": [
    "@semantic-release/npm",
      {
        "path": "@semantic-release/exec",
        "cmd": "echo hello"
      }
  ],
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "./ts-learn-semantic-release-linux",
          "name": "ts-learn-semantic-release-linux",
          "label": "ts-learn-semantic-release-linux"
        },
        {
          "path": "./ts-learn-semantic-release-linux.sha256",
          "name": "ts-learn-semantic-release-linux.sha256",
          "label": "ts-learn-semantic-release-linux.sha256"
        },
        {
          "path": "./ts-learn-semantic-release-macos",
          "name": "ts-learn-semantic-release-macos",
          "label": "ts-learn-semantic-release-macos"
        },
        {
          "path": "./ts-learn-semantic-release-macos.sha256",
          "name": "ts-learn-semantic-release-macos.sha256",
          "label": "ts-learn-semantic-release-macos.sha256"
        },
        {
          "path": "./ts-learn-semantic-release-win.exe",
          "name": "ts-learn-semantic-release-win.exe",
          "label": "ts-learn-semantic-release-win.exe"
        },
        {
          "path": "./ts-learn-semantic-release-win.exe.sha256",
          "name": "ts-learn-semantic-release-win.exe.sha256",
          "label": "ts-learn-semantic-release-win.exe.sha256"
        }
      ]
    }
  ]
}
